<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .img{
            padding-left: 400px
        }
        h1 {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
    </style>
</head>
<body>
    <div class="img">
    <img src="/static/hand.jpg" alt="" height="500px" width="500" >
        <h1>YOU WILL BE INFORMED SOON</h1>
        </div>
        
</body>
</html>